<h1>Editing Denomination</h1>

<%= render 'form', denomination: @denomination %>

<%= link_to 'Show', shop_denomination_path(@shop,@denomination) %> |
<%= link_to 'Back',shop_denominations_path(@shop) %>
